@model ArshiaDev.Core.ViewModels.CategoryViewModel
@{

    Layout = null;
}


<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-3">
        <form asp-action="AddMainCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>