@model ArshiaDev.Core.ViewModels.PermissionViewModel


<h1>ویرایش  @Model.PermissionName</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPermission">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PermissionName" class="control-label"></label>
                <input asp-for="PermissionName" class="form-control" />
                <span asp-validation-for="PermissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ذخیره" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
